n8n-update-wa-send-template.json
{
  "name": "WA - Send Template",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"crm/whatsapp/send-template","responseMode":"responseNode","options":{}},"id":"d668ef24-ee7a-4d34-a75f-85e7438a4b1b","name":"Webhook - Send Template","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,96],"webhookId":"wa-send-template-endpoint"},
    {"parameters":{"jsCode":"const body = $json.body || $json;\nif (!body.phone) { throw new Error('phone is required'); }\nif (!body.template_name) { throw new Error('template_name is required'); }\nconst languageCode = body.language_code || 'it';\nconst phoneDigits = String(body.phone || '').replace(/\\D/g, '');\nconst phone = body.phone.startsWith('+') ? body.phone : (phoneDigits ? `+${phoneDigits}` : body.phone);\nlet components = [];\nif (Array.isArray(body.components)) { components = body.components; }\nelse if (Array.isArray(body.body_params)) { components = [{ type: 'body', parameters: body.body_params.map(p => ({ type: 'text', text: String(p) })) }]; }\nreturn [{ json: { phone, template_name: body.template_name, language_code: languageCode, components } }];"},"id":"3ff3e372-2f4b-431d-ad6c-5b20c92480e9","name":"Parse Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,176]},
    {"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ZKTXLqvrcy80SQG0","mode":"list","cachedResultName":"Social CRM - WhatsApp","cachedResultUrl":"/projects/QIovoss2uNaEI090/datatables/ZKTXLqvrcy80SQG0"}},"id":"cca62e63-7734-4cc2-95f4-87c33228fa37","name":"Get WA Config","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,0]},
    {"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"1ea88487-2940-4f1f-8749-dfc781b44263","name":"Merge Body + Config","type":"n8n-nodes-base.merge","typeVersion":2,"position":[240,96]},
    {"parameters":{"jsCode":"const item = $input.first().json;\nif (!item.WA_PHONE_NUMBER_ID) { throw new Error('WA_PHONE_NUMBER_ID missing from DataTable'); }\nconst payload = { messaging_product: 'whatsapp', to: item.phone, type: 'template', template: { name: item.template_name, language: { code: item.language_code } } };\nif (Array.isArray(item.components) && item.components.length > 0) { payload.template.components = item.components; }\nreturn [{ json: { wa_phone_number_id: item.WA_PHONE_NUMBER_ID, phone: item.phone, template_name: item.template_name, payload } }];"},"id":"7f87b90f-3470-4f7f-9f76-7e01c498204e","name":"Prepare WA Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,96]},
    {"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{$json[\"wa_phone_number_id\"]}}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json[\"payload\"] }}","options":{"ignoreResponseCode":true}},"id":"83541ea1-fb3e-40d1-9b23-7055b1f9e702","name":"WA Send Template Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,96],"credentials":{"httpBearerAuth":{"id":"G3GHTZV4hvBi97wX","name":"Bearer Auth account (WA Biz)"}},"onError":"continueRegularOutput"},
    {"parameters":{"jsCode":"const waResponse = $json;\nconst msgId = waResponse.messages?.[0]?.id ?? null;\nconst contact = waResponse.contacts?.[0] ?? {};\nconst phoneFromWebhook = $node[\"Parse Body\"].json.phone;\nconst status = msgId ? 'sent' : 'error';\nconst error = waResponse.error?.message ?? null;\nreturn [{ json: { status, message_id: msgId, to: phoneFromWebhook, wa_id: contact.wa_id ?? null, error, raw: waResponse } }];"},"id":"2e623201-6c98-4082-aa05-4afcd5d940d0","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,96]},
    {"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"id":"09eca35c-d8e9-4fd4-80cc-c336eb79bde1","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,96]},
    {"parameters":{"jsCode":"const waResp = $json;\nconst body = $node[\"Webhook - Send Template\"].json.body || {};\nconst toPhone = body.phone || null;\nlet msgText = 'TEMPLATE: ' + (body.template_name || 'unknown');\nif (Array.isArray(body.body_params) && body.body_params.length) { msgText += ' | params: ' + body.body_params.join(', '); }\nconst waId = waResp.contacts?.[0]?.wa_id ?? null;\nconst msgId = waResp.messages?.[0]?.id ?? null;\nlet status = waResp.status || (waResp.messages && waResp.messages[0] && waResp.messages[0].status) || null;\nif (!status) {\n  status = msgId ? 'sent' : (waResp.error ? 'error' : null);\n}\nconst now = new Date();\nconst fmt = new Intl.DateTimeFormat('sv-SE', { timeZone: 'Europe/Rome', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });\nconst parts = fmt.formatToParts(now);\nconst get = (type) => { const found = parts.find(p => p.type === type); return found && found.value ? found.value : '00'; };\nconst ts = get('year') + '-' + get('month') + '-' + get('day') + ' ' + get('hour') + ':' + get('minute') + ':' + get('second');\nreturn [{ json: { wa_id: waId, from_phone: null, to_phone: toPhone, direction: 'outgoing', status, message: msgText, timestamp: ts } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-112],"id":"23843071-51b5-4c0c-920c-fb877916b47c","name":"Build Log Payload (WA Template Outgoing)","onError":"continueRegularOutput"},
    {"parameters":{"method":"POST","url":"https://workflow.robdev.website/webhook/internal/whatsapp/message/log","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[992,320],"id":"42f377e2-cd2c-4db6-83f3-49e08c23382b","name":"HTTP – Log WA Template Message","onError":"continueRegularOutput"}
  ],
  "connections": {
    "Webhook - Send Template": {"main": [[{"node":"Parse Body","type":"main","index":0},{"node":"Get WA Config","type":"main","index":0}]]},
    "Parse Body": {"main": [[{"node":"Merge Body + Config","type":"main","index":0}]]},
    "Get WA Config": {"main": [[{"node":"Merge Body + Config","type":"main","index":1}]]},
    "Merge Body + Config": {"main": [[{"node":"Prepare WA Payload","type":"main","index":0}]]},
    "Prepare WA Payload": {"main": [[{"node":"WA Send Template Request","type":"main","index":0}]]},
    "WA Send Template Request": {"main": [[{"node":"Format Response","type":"main","index":0},{"node":"Build Log Payload (WA Template Outgoing)","type":"main","index":0}]]},
    "Build Log Payload (WA Template Outgoing)": {"main": [[{"node":"HTTP – Log WA Template Message","type":"main","index":0}]]},
    "Format Response": {"main": [[{"node":"Respond to Webhook","type":"main","index":0}]]}
  }
}
